
.utmp/
/[Ll]ogs/
/[Tt]emp/
*.log

/[Mm]emoryCaptures/
/[Rr]ecordings/

*.DotSettings.user

.vs/
.gradle/

*.pidb.meta
*.pdb.meta
*.mdb.meta

sysinfo.txt

*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app

crashlytics-build.properties

InitTestScene*.unity*